<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raddixcore.android.wifilocker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.raddixcore.android.wifilocker.MainActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.raddixcore.android.wifilocker.LockActivity"
            android:excludeFromRecents="true" />

        <receiver
            android:name="com.raddixcore.android.wifilocker.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="99999">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.raddixcore.android.wifilocker.SettingsActivity"
            android:excludeFromRecents="true"
            android:label="@string/action_settings"
            android:parentActivityName="com.raddixcore.android.wifilocker.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.raddixcore.android.wifilocker.MainActivity" />
        </activity>
    </application>

</manifest>
